<footer class="bg-white">
  <div class="mx-auto max-w-7xl overflow-hidden py-20 px-6 sm:py-24 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <%= link_to "About", pages_about_path, class: "text-sm leading-6 text-gray-600 hover:text-gray-900" %>
      </div>

      <div class="pb-6">
        <%= link_to "Terms of Service", pages_terms_path, class: "text-sm leading-6 text-gray-600 hover:text-gray-900" %>
      </div>

      <div class="pb-6">
        <%= link_to "Privacy Policy", pages_privacy_path, class: "text-sm leading-6 text-gray-600 hover:text-gray-900" %>
      </div>z
    </nav>
    <p class="mt-10 text-center text-sm leading-5 text-gray-500">&copy; <%= Date.current.year %> ChefOnline, Inc. All rights reserved.</p>
  </div>
</footer>
