<nav class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      
      <%= render partial: "shared/navbar/left" %>

      <%= render partial: "shared/navbar/search" %>

      <%= render partial: "shared/navbar/right" %>      

  </div>
</nav>