<!DOCTYPE html>
<html style="background-color:rgb(255, 255, 204);">
<head>
	    <title> chefOnline </title>
	    <meta charset="utf-8">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
</head>
<body style="margin-left:10%;margin-right:10%;">
<center>
<div><br><br>

<p>temporary button to redirect to successfulorder notification</p>
<div style="background-color:  rgb(176, 182, 182); margin-left:45%; 
margin-right:45%; text-align: center; border-radius:5px;">
<%= link_to "Submit order", "/pages/successfulorder" %>
</div>

  <h1 class="font-bold text-4xl">Goals</h1><br>
    <pre>ChefOnline is a 3rd party website where it allows customers order food online 
    from various restaurants. The main objective is to provide reliable application 
    as well as good user experience. The good user experience part comes from the idea 
    that user can go to a single website to search for existing restaurants and suggest 
    new restaurants to the customer if they wish to try different cullinary experience.
    </pre><br><br><br>
    
  <h1 class="font-bold text-4xl">Orgins</h1><br>
    <pre>This website was a result of a course project from Wayne State University which 
    was developed by three students:Neema Sadry,Adrian Tarnowski, and Geetanjali Kulkarni. 
    The original idea was to create website to order food from a singular restaurant, but 
    halfway through the semester it was decided that this project will stretch across 
    various restaurants.
    </pre><br><br><br>

  <h1 class="font-bold text-4xl">Struggles</h1><br>
  <pre>In addition to the information from Orgins section, the choice of language proved 
    to be a challenge. This application was planned to be written using Ruby on Rails, 
    but given that only Neema was profficent, it limited our capacity as to what the whole
    team could do because it was a new learning experience for us. The biggest challenge
    was setting up Ruby on Rails for Adrian and Geetanjali which significantly reduced 
    the amount of time the group could allocate. </pre>
</div>
</center>
</body>
</html>