<center>
<div style="height:200px;width:300px; border-style:solid; background-color:rgb(255, 255, 230); margin-top:5%;
margin-bottom:5%; border-radius:10px; padding-top:20px;">
    <h1 style="font-size:30px">Success</h1>
    <p style="padding-top:20px;">Congratulations! Your order was placed!</p>
    <div style="padding-top:20px;">
        <div style="background-color:rgb(176, 182, 182); margin-left:25%; margin-right:25%;
        border-radius:5px;">
        <%= link_to "Back to home", "/pages/index" %>
        </div>
    </div>
</div>
</center>