
#<link rel="stylesheet" href="application.css.css">

<div class="notificationMessage">
<h1>Success</h1>
<p>Congratulations! Your order was placed!</p>
<%= link_to "Back to home", "/pages/index" %>
</div>