<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Restaurants</h2>

    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">

  <!-- <div class="flex justify-between items-center"> -->
    <!-- <h1 class="font-bold text-4xl">Restaurants</h1> -->
    <%#= link_to 'New restaurant', new_restaurant_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  <!-- </div> -->

      <!-- <div id="restaurants" class="min-w-full"> -->
      <% @records.in_groups_of(3, false) do |restaurants| %>
        <%= render partial: "restaurants/restaurant", collection: restaurants %>
      <% end %>
      <!-- </div> -->

    </div>

    <%== pagy_nav(@pagy) %>

  </div>
</div>
