/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

.main {
  flex: 1;
}

.active {
  border-color: rgb(99 102 241);
  color: rgb(17 24 39);
}

.mobile-active {
  border-color: rgb(99 102 241);
  background-color: rgb(238 242 255);
  color: rgb(67 56 202);
}

.navbar-logo {
  font-family: 'Carter One', cursive;
  font-weight: bold;
  font-size: 1.50rem;
  letter-spacing: 0.06rem;
  color: rgb(30 41 59);
}

.navbar-logo:hover {
  color: rgb(71 85 105);
}

.buttonBox{
  background-color: rgb(176, 182, 182);
  align-content: center;
  text-align: center;
}

.notice {
  @apply flex items-center text-sm justify-center font-medium p-4;

  &.notice-info {
    @apply bg-blue-50 text-blue-700;

    svg {
      @apply text-blue-400;
    }
  }

  &.notice-success {
    @apply bg-green-50 text-green-700;

    svg {
      @apply text-green-400;
    }
  }

  &.notice-error {
    @apply bg-red-50 text-red-700;

    svg {
      @apply text-red-400;
    }
  }

  &.notice-warning {
    @apply bg-yellow-50 text-yellow-700;

    svg {
      @apply text-yellow-400;
    }
  }
}
